[package]
name = "iam-entity"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
publish.workspace = true
license-file.workspace = true

[lib]
path = "./lib.rs"

[dependencies]
chrono.workspace = true
sea-orm.workspace = true
