[advisories]
version = 2
ignore = [
    # RSA Marvin attack
    # It's the dependency of the jsonwebtoken library, and since we don't use rsa jwt tokens,
    # we don't use code from this crate
    "RUSTSEC-2023-0071"
]

[licenses]
version = 2
confidence-threshold = 1.0
allow = [
    "MIT",
    "Apache-2.0",
    "ISC",
    "MPL-2.0",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "Zlib",
    "Unicode-3.0",
]
exceptions = [
    { allow = ["CDLA-Permissive-2.0"], crate = "webpki-roots" },
]
private.ignore = false

[[licenses.clarify]]
name = "webpki"
expression = "ISC"
license-files = [{ path = "LICENSE", hash = 0x001c7e6c }]

[bans]
multiple-versions = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
