name: CD

on:
  push:
    tags:
      - '*'

jobs:
  build-and-push-images:
    strategy:
      matrix:
        include:
          - image: ghcr.io/verseghy/iam
            containerfile: ./Containerfile
          - image: ghcr.io/verseghy/iam-migration
            containerfile: ./containerfiles/migration.Containerfile
          - image: ghcr.io/verseghy/iam-cli
            containerfile: ./containerfiles/cli.Containerfile

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ matrix.image }}
          tags: latest ${{ github.sha }} ${{ github.ref_name }}
          containerfiles: ${{ matrix.containerfile }}
          oci: true

      - name: Push image
        id: push-image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: docker://ghcr.io/verseghy
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Print image URL
        run: echo "Image pushed to ${{ steps.push-image.outputs.registry-paths }}"
